{% extends 'base.html.twig' %}

{% block title %}Heures d'ouverture{% endblock %}

{% block body %}
    <h1 class="text-center m-3">Heures d'ouverture</h1>

    <table class="table" aria-label="tableau contenant les heures d'ouverture">
        <thead>
            <tr>
                {#<th>Id</th>#}
                <th>Ouverture Matin</th>
                <th>Fermeture Matin</th>
                <th>Ouverture Après-Midi</th>
                <th>Fermeture Après-Midi</th>
                <th>Jour</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for openingHour in openingHours %}
            <tr>
                <td data-label="Horaires matin">
                {% if openingHour.morningOpen is not null %}
                    {{ openingHour.morningOpen|date('H:i:s') }}
                {% else %}
                    Fermé
                {% endif %}
                </td>
                <td>
                    {% if openingHour.morningClose is not null %}
                        {{ openingHour.morningClose|date('H:i:s') }}
                    {% else %}
                        Fermé
                    {% endif %}
                </td>
                <td data-label="Horaires après-midi">
                    {% if openingHour.afternoonOpen is not null %}
                        {{ openingHour.afternoonOpen|date('H:i:s') }}
                    {% else %}
                        Fermé
                    {% endif %}
                </td>
                <td>
                    {% if openingHour.afternoonClose is not null %}
                        {{ openingHour.afternoonClose|date('H:i:s') }}
                    {% else %}
                        Fermé
                    {% endif %}
                </td>

                <td data-label="Jour Concerné">{{ openingHour.dayOfWeek | trans }}</td>
                <td>
                    <a href="{{ path('app_openinghours_show', {'id': openingHour.id}) }}"><i class="fa-solid fa-eye"></i></a>
                    <a href="{{ path('app_openinghours_edit', {'id': openingHour.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Pas d'heures configurées !</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {#  <a href="{{ path('app_opening_hours_new') }}">Create new</a>#}
{% endblock %}
