{% extends 'base.html.twig' %}

{% block title %}Heures d'ouverture{% endblock %}

{% block body %}
    <h1 class="text-center m-3">Heures d'ouverture</h1>

    <table class="table">
        <thead>
            <tr>
                {#<th>Id</th>#}
                <th>Ouverture Matin</th>
                <th>Fermeture Matin</th>
                <th>Ouverture Après-Midi</th>
                <th>Fermeture Après-Midi</th>
                <th>Jour</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for openingHour in openingHours %}
            <tr>
                {#<td>{{ openingHour.id }}</td>#}
                <td>{{ openingHour.morningOpen ? openingHour.morningOpen|date('H:i:s') : '' }}</td>
                <td>{{ openingHour.morningClose ? openingHour.morningClose|date('H:i:s') : '' }}</td>
                <td>{{ openingHour.afternoonOpen ? openingHour.afternoonOpen|date('H:i:s') : '' }}</td>
                <td>{{ openingHour.afternoonClose ? openingHour.afternoonClose|date('H:i:s') : '' }}</td>
                <td>{{ openingHour.dayOfWeek | trans }}</td>
                <td>
                    <a href="{{ path('app_openinghours_show', {'id': openingHour.id}) }}"><i class="fa-solid fa-eye"></i></a>
                    <a href="{{ path('app_openinghours_edit', {'id': openingHour.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Pas d'heures configurées !</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {#  <a href="{{ path('app_opening_hours_new') }}">Create new</a>#}
{% endblock %}
