{% extends 'base.html.twig' %}

{% block title %}Coordonnées Garage{% endblock %}

{% block body %}
    <h1>Coordonnées Garage</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Telephone Garage</th>
                <th>Adresse</th>
                <th>Ville</th>
                <th>Email Garage</th>
                <th>Active ?</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for information in information %}
            <tr>

                <td>{{ information.corpPhone }}</td>
                <td>{{ information.address }}</td>
                <td>{{ information.city }}</td>
                <td>{{ information.corpEmail }}</td>
                <td>{% if information.active is same as true %}Oui{% else %}Non{% endif %}</td>
                <td>
                    <a href="{{ path('app_information_show', {'id': information.id}) }}"><i class="fa-solid fa-eye"></i></a>
                    <a href="{{ path('app_information_edit', {'id': information.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Pas de Coordonnées sur le Garage</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_information_new') }}"><i class="fa-solid fa-plus"></i></a>
{% endblock %}
