{% extends 'base.html.twig' %}

{% block title %}Information{% endblock %}

{% block body %}
    <h1 class="text-center m-3">Information</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Telephone Garage</th>
                <td>{{ information.corpPhone }}</td>
            </tr>
            <tr>
                <th>Addresse</th>
                <td>{{ information.address }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ information.city }}</td>
            </tr>
            <tr>
                <th>Email Garage</th>
                <td>{{ information.corpEmail }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_information_index') }}"><i class="fa-solid fa-arrow-left"></i></a>

    <a href="{{ path('app_information_edit', {'id': information.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>

    {{ include('information/_delete_form.html.twig') }}
{% endblock %}
