<footer class="bg-light text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">
        <!-- Grid row -->
        <div class="row">
            <!-- Column for the copyright -->
            <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
                <p>
                    © 2023 Copyright Garage V.Parrot
                </p>

                <a href="https://www.facebook.com" target="_blank">
                    <i class="fab fa-facebook"></i>
                </a>

                <a href="https://www.instagram.com" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>

                <a href="https://www.twitter.com" target="_blank">
                    <i class="fab fa-twitter"></i>
                </a>
            </div>
            <!-- End of the column for the copyright -->

            <!-- Column for "Contactez-nous" in the middle -->
            <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
                <h4>Contactez-nous</h4>
                {% if information is not null %}
                    <p>
                        <a href="{{ path('app_contact_new') }}" class="btn btn-dark text-white font-weight-bold">Contactez-nous</a>

                    </p>
                    <p>
                        Vous pouvez également nous envoyer un mail à l'adresse suivante {{ information.corpemail ?? '' }}
                        ou par téléphone au {{ information.corpphone ?? '' }}.
                    </p>
                    <p>
                        {{ information.address ?? '' }}, {{ information.city ?? '' }}
                    </p>
                {% else %}
                    <p>
                        <a href="{{ path('app_testimonial_new') }}" class="btn btn-primary">Laissez un Avis</a>
                    </p>
                {% endif %}
            </div>
            <!-- End of the column for "Contactez-nous" in the middle -->

            <!-- Column for the opening hours on the right -->
            <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
                <p>
                    {% set trans_day_hash = {
                        "monday": "Lundi",
                        "tuesday": "Mardi",
                        "wednesday": "Mercredi",
                        "thursday": "Jeudi",
                        "friday": "Vendredi",
                        "saturday": "Samedi",
                        "sunday": "Dimanche"
                    }
                    %}
                <h4>Horaires</h4>
                {% for openHour in openingHours %}
                    {% if openHour.morningOpen is null and openHour.morningClose is null %}
                    {% else %}
                    <h5>{{ trans_day_hash[openHour.dayofweek] }}</h5>
                    {% if openHour.morningOpen is not null and openHour.morningClose is not null %}
                        {{ openHour.morningOpen|date('H:i') }} - {{ openHour.morningClose|date('H:i')}}
                    {% else %}
                        fermé (matin)
                    {% endif %}
                    {% if openHour.afternoonOpen is not null and openHour.afternoonClose is not null %}
                        {{ openHour.afternoonOpen|date('H:i') }} - {{ openHour.afternoonClose|date('H:i')}}
                    {% else %}
                        fermé (après-midi)
                    {% endif %}
                    {% endif %}
                {% endfor %}
                </p>
            </div>
            <!-- End of the column for the opening hours on the right -->
        </div>
        <!-- End of the grid row -->
    </div>
    <!-- End of the grid container -->

    <!-- Copyright -->
    <!--<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>-->
    <!-- Copyright -->
</footer>
