
<footer class="bg-light text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-8 col-md-12 mb-4 mb-md-0">


                <p>
                    © 2020 Copyright
                </p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-12 mb-4 mb-md-0">


                <p>

                    {% set trans_day_hash = {
                        "Monday": "Lundi",
                        "Tuesday": "Mardi",
                        "Wednesday": "Mercredi",
                        "Thursday": "Jeudi",
                        "Friday": "Vendredi",
                        "Saturday": "Samedi",
                        "Sunday": "Dimanche"
                    }
                    %}
                <h4>Horaires</h4>


                {% for openHour in openingHours %}

                      {# <p>{{openingTime.dayOfWeek|capitalize}} : {{openingTime.lunchOpen|date('H:i')}} - {{openingTime.lunchClose|date('H:i')}} / {{openingTime.dinnerOpen|date('H:i')}} - {{openingTime.dinnerClose|date('H:i')}} </p>
                {% endfor %}
                {% set oh = OpenHoursMethod() %}

                 <p>{% for openhour in openingHours %}
                        {{ day }}#}

                <h5>{{ trans_day_hash[openHour.dayofweek|trans] }}</h5>
                {% if openHour is not same as '' %}
                    {{ openHour.morningOpen|date('H:i') }} - {{ openHour.morningClose|date('H:i')}}
                {% else %}
                    fermé
                {% endif %}
                {% endfor %}

                </p>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <!--<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>-->
    <!-- Copyright -->
</footer>