<style>
    .user-nav{
        padding-top: 7px;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    {#  <a href="#" class="navbar-brand">Brand<b>Name</b></a>#}
    <img src="/assets/images/vparrot.png" width="120px" height="40px" alt="Description de l'image">
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collection of nav links, forms, and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse">
        <div class="navbar-nav mr-auto"> <!-- Les éléments au début de la navbar -->
            <a href="{{ path('app_index') }}" class="nav-item nav-link">Accueil</a>
            <a href="{{ path('app_search_index') }}" class="nav-item nav-link">Véhicules d'occasion</a>
            <a href="{{ path('app_testimonial_new') }}" class="nav-item nav-link">Votre Avis</a>
            {% if app.user %}
            <a href="{{ path('app_offers_index') }}">Annonces</a>
            <a href="{{ path('app_cars_index') }}">Voitures</a>
            <a href="{{ path('app_contact_index') }}">Demandes Contact</a>
            <a href="{{ path('app_testimonial_index') }}">Avis</a>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_services_index') }}">Services</a>
                    <a href="{{ path('app_information_index') }}">Informations</a>
                    <a href="{{ path('app_openinghours_index') }}">Horaires</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="navbar-nav justify-content-end"> <!-- Les éléments à la fin de la navbar -->
        {% if app.user %}
            <div class="nav-item user-nav col-lg-6 ml-1">
                <a class="user" href="{% if is_granted('ROLE_ADMIN') %}{{ path("app_admin_index") }}{% else %}{{ path("app_user_index") }}{% endif %}">{{ app.user.lastname }}</a>
            </div>
            <div class="nav-item">
                <a class="nav-link" href="{{ path("app_logout") }}">Déconnexion</a>
            </div>
        {% else %}
            <div class="nav-item">
                <a class="nav-link" href="{{ path("app_login") }}">Connexion</a>
            </div>
        {% endif %}
    </div>
</nav>