{% if not form.vars.valid %}
    <ul class="alert alert-danger">
        {# on affiche en premier les erreurs globales (cas classiques) #}
        {% for error in form.vars.errors %}
            <li>{{error.message}}</li>
        {% endfor %}
        {# ainsi que les erreurs concernant chaque champs #}
        {% for child in form.children %}
            {# si le champ à des erreur #}
            {% if child.vars.errors is defined %}
                {% for error in child.vars.errors %}
                    <li>"{{child.vars.value}}" : {{error.message}} </li> {# on ajoute le label du champ devant l'erreur pour plus de précisions. #}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}

{{ form_start(form) }}

    {{ form_widget(form) }}
    {#  {{ form_label(form.phone, 'Votre Numero', {'label_attr': {'class': 'foo'}}) }}#}
    <button class="btn"><i class="fa-solid fa-floppy-disk"></i></button>
{{ form_end(form) }}
