{% extends 'base.html.twig' %}

{% block title %}Page Adminstration{% endblock %}

{% block body %}

    <h1 class="mb-3">Espace Administration Rapide</h1>
    <h2>Utilisateur Connecté : {% if app.user.Firstname is defined and app.user.Firstname is not null %}{{ app.user.Firstname }} {{ app.user.Lastname }}{% endif %}</h2>

    <table class="table ">
        <thead>
        <tr>
            <th>Email</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Type de Compte</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td data-label="Email du Client : ">&nbsp;{{ user.email }}</td>
                <td data-label="Nom du Client : ">&nbsp; {{ user.firstname }}</td>
                <td data-label="Prenom du Client : ">&nbsp; {{ user.lastname }}</td>
                {% set AdminRole = "ROLE_ADMIN" %}
                <td data-label="Type : ">{% if AdminRole in user.roles  %}&nbsp;Compte Admin {% else %}&nbsp; Compte Employé {% endif %}</td>
                <td>
                    <a href="{{ path('app_admin_show', {'id': user.id}) }}"><i class="fa-solid fa-eye"></i></a>
                    <a href="{{ path('app_admin_edit', {'id': user.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Pas d'utilisateurs</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {%  if knp_pagination_render(users) %}
    <label>Changer de Page : </label>{{ knp_pagination_render(users)}}<br>
    {% endif %}
    <a href="{{ path('app_admin_new') }}"><i class="fa-solid fa-plus"></i></a>
    {#<h1>Admins</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Mot de passe</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
          {% for admin in admins %}
            <tr>
                <td>{{ admin.id }}</td>
                <td>{{ admin.email }}</td>
                {% set AdminRole = "ROLE_ADMIN" %}
                <td>{% if AdminRole in admin.roles  %}Compte Admin {% else %} Compte Client {% endif %}</td>
                <td>{{ admin.password }}</td>
                <td>
                    <a href="{{ path('app_user_show', {'id': admin.id}) }}"><i class="fa-solid fa-eye"></i></a>
                    <a href="{{ path('app_user_edit', {'id': admin.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Pas d'admins</td>
            </tr>
        {% endfor %}
        </tbody>#}

    <section class="unapproved-comments">
        <div class="container my-5 py-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-12 col-lg-10 col-xl-8">
                    <div class="card">
                        <div class="card-body p-4">
                            <h4 class="text-center mb-4 pb-2">Demandes de Contact non approuvés</h4>
                            <div class="row">
                                <div class="col">
                                    {% for comment in contacts %}
                                        {% if not comment.isApproved %}
                                            <div class="d-flex align-items-start mb-4">
                                                {#  <img class="rounded-circle shadow-1-strong me-3"
                                                     src="{#  {{ comment.avatarUrl }}#}{#  " alt="avatar" width="65" height="65" />#}
                                                <div class="flex-grow-1">
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <p class="mb-1">
                                                            {{ comment.email }} <span class="small">{{ comment.createdAt | date('Y-m-d H:i') }}</span>
                                                        </p>
                                                      {#   <a href="#!"><i class="fas fa-reply fa-xs"></i><span class="small"> Répondre</span></a>#}
                                                    </div>
                                                    <p class="small mb-0">
                                                        {{ comment.message }}
                                                    </p>
                                                    {# Bouton d'approbation de demande de contact  #}
                                                    <a class="btn btn-primary btn-sm mt-2" href="{{ path('app_contact_approve', {'id': comment.id}) }}">Approuver</a>

                                                    <form method="post" action="{{ path('app_contact_delete', {'id': comment.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer cette demande?');">
                                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
                                                        <button class="btn btn-danger btn-sm mt-2">Supprimer</button>
                                                    </form>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            <h4 class="text-center mb-4 pb-2">Avis non approuvés</h4>
                            <div class="row">
                                <div class="col">
                                    {% for testimonial in testimonials %}
                                        {% if not testimonial.isApproved %}
                                            <div class="d-flex align-items-start mb-4">
                                                  {#  <img class="rounded-circle shadow-1-strong me-3"
                                                     src="  {{ comment.avatarUrl }}" alt="avatar" width="65" height="65" />#}
                                                <div class="flex-grow-1">
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <p class="mb-1">
                                                            {{ testimonial.name }} {{ testimonial.lastname }} <span class="small">{{ testimonial.createdAt | date('Y-m-d H:i') }}</span>
                                                        </p>
                                                        {#<a href="#!"><i class="fas fa-reply fa-xs"></i>  <span class="small"> Répondre</span></a>#}
                                                    </div>
                                                    <p class="small mb-0">
                                                        {{ testimonial.message }}
                                                    </p>
                                                    {# Pour Approuver un avis #}
                                                    <a class="btn btn-primary btn-sm mt-2" href="{{ path('app_testimonial_approve', {'id': testimonial.id}) }}">Approuver</a>
                                                    {# Pour Refuser et effacer un avis #}
                                                    <form method="post" action="{{ path('app_testimonial_delete', {'id': testimonial.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer cet Avis?');">
                                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ testimonial.id) }}">
                                                        <button class="btn btn-danger btn-sm mt-2">Supprimer</button>
                                                    </form>

                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <h3>Ajouter/Modifier les horaires d'ouverture</h3>
    {{ form_start(openingHourForm) }}
    {{ form_widget(openingHourForm) }}
    <button type="submit">Enregistrer</button>
    {{ form_end(openingHourForm) }}

    <h3>Ajouter/Modifier les services</h3>
    {{ form_start(serviceForm) }}
    {{ form_widget(serviceForm) }}
    <button type="submit">Enregistrer</button>
    {{ form_end(serviceForm) }}

    <h3>Ajouter/Modifier les informations du Garage</h3>
    {{ form_start(informationForm) }}
    {{ form_widget(informationForm) }}
    <button type="submit">Enregistrer</button>
    {{ form_end(informationForm) }}

{% endblock %}
{% block javascripts %}
        <script>
            document.getElementById('delete-comment-form').addEventListener('submit', function (event) {

                event.preventDefault();

                var url = this.action;

                var xhr = new XMLHttpRequest();
                xhr.open('DELETE', url, true);
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                xhr.onload = function () {
                    if (xhr.status === 200) {

                        alert('Commentaire supprimé avec succès!');


                    } else {

                        alert('Erreur lors de la suppression du commentaire.');
                    }
                };
                xhr.send();
            });
        </script>
        {% endblock %}