{% extends 'base.html.twig' %}

{% block title %}Annonce {{ offer.reference }}{% endblock %}

{% block body %}
    <section class="gradient-custom">
        <div class="container my-5 py-5 fixed-height-carousel">
            <h1>{{ offer.offertitle }}</h1>
            {% if offer.images is not empty %}
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    {% for image in offer.images %}
                        {% if loop.first %}
                            <div class="img-fluid carousel-item active">
                                <img class="img-fluid d-block w-100" src="{{ asset('assets/uploadscars/') ~ image.name }}" alt="slide">
                            </div>
                        {% elseif loop.last %}
                            <div class="img-fluid carousel-item">
                                <img class="img-fluid d-block w-100" src="{{ asset('assets/uploadscars/') ~ image.name }}" alt="slide">
                            </div>
                        {% else %}
                            <div class="img-fluid carousel-item">
                                <img class="img-fluid d-block w-100" src="{{ asset('assets/uploadscars/') ~ image.name }}" alt="slide">
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                {% endif %}
            </div>

            <!-- Essential information in the form of square cards Informations essentielles sous forme de cartes carrées -->
            <div class="row">
                <div class="col-md-3 pt-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Prix</h5>
                            <p class="card-text">{{ offer.car.price }} €</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 pt-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Énergie</h5>
                            <p class="card-text">{{ offer.car.typefuel }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 pt-3">
                    <div class = "card">
                    <div class="card-body">
                        <h5 class="card-title">Puissance</h5>
                        <p class="card-text">{{ offer.car.Power }} CV</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 pt-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Nombre de Portes</h5>
                        <p class="card-text">{{ offer.car.Doors }}</p>
                    </div>
                </div>
            </div>
            </div>
            <div class="pt-3"></div>
            <table class="table" aria-label="tableau contenant la reference ainsi que les caractéristiques du véhicule
            de l'offre en cours de visionnage">
                <tbody>
                    <tr>
                        <th>Reference</th>
                        <td>{{ offer.reference }}</td>
                    </tr>
                    <tr>
                        <th>Titre de l'annonce</th>
                        <td>{{ offer.offerTitle }}</td>
                    </tr>
                    <tr>
                        <th>Marque</th>
                        <td>{{ offer.car.Brand }}</td>
                    </tr>
                    <tr>
                        <th>Modèle</th>
                        <td>{{ offer.car.Model }}</td>
                    </tr>
                    <tr>
                        <th>Annonce Crée le </th>
                        <td>{{ offer.createdAt ? offer.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Annonce Modifiée le</th>
                        <td>{{ offer.modifiedAt ? offer.modifiedAt|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                </tbody>
            </table>


        </div>
    </section>

    <section class="gradient-custom">
        <div class="container my-5 py-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-12 col-lg-10 col-xl-8">
                    {% set userRole = "ROLE_USER" %}
                    {% if app.user %}
                    {% if userRole in app.user.roles %}
                    <div class="card">
                        <div class="card-body p-4">
                            <h4 class="text-center mb-4 pb-2">Demandes de contact</h4>
                            <div class="row">
                                <div class="col">
                                    {% for comment in offer.contacts %}
                                    {#  {% if comment.isApproved is same as true %}#}
                                    <div class="d-flex align-items-start mb-4">
                                        {#  <img class="rounded-circle shadow-1-strong me-3"
                                                     src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(10).webp" alt="avatar" width="65"
                                                     height="65" />#}
                                        <div class="flex-grow-1">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <p class="mb-1">
                                                    {{ comment.email }} <span class="small">{{ comment.createdAt | date('Y-m-d H:i') }}</span>
                                                </p>
                                                <a href="#Form"><i class="fas fa-reply fa-xs"></i><span class="small"> Répondre</span></a>
                                            </div>
                                            <p class="small mb-0">
                                                {{ comment.message }}
                                            </p>

                                            {% if app.user %}
                                                {% if userRole in app.user.roles %}
                                                    {% if comment.isApproved is same as false %}
                                                        <span class="text-danger">Demande de Contact non approuvé !</span>
                                                    {% else %}
                                                        <span class="text-success">Demande de Contact approuvé</span>
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    {# Si vous souhaitez afficher les réponses, décommentez cette partie #}
                                    {#{% if comment.hasreply is defined %}
                                    <div class="d-flex align-items-start ml-5">#}
                                        {#  <img class="rounded-circle shadow-1-strong me-3"
                                                         src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(11).webp" alt="avatar"
                                                         width="65" height="65" />
                                                    <div class="flex-grow-1">
                                                        <div class="d-flex justify-content-between align-items-center">
                                                            <p class="mb-1">
                                                                 <span class="small">- {{ comment.replyTime }}</span>
                                                            </p>
                                                        </div>
                                                        <p class="small mb-0">
                                                            {{ comment.replyMessage }}
                                                        </p>#}
                                        {#</div>
                                </div>
                                {% endif %}#}
                                {#{% endif %}#}
                                {# Fin de la partie réponses #}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endif %}
                    {# <div id="Form" class="mt-5 text-center">
                    <h2 class="display-4 text-primary">Vous voulez plus d'informations ? Contactez Nous!</h2>
                    <div class="card">
                        {{ form_start(commentForm) }}
                        {{ form_widget(commentForm) }}
                            <div class="a personnaliser"> 
                            {{ form_row(commentForm.contact.email) }}
                            </div>
                        <button class="btn btn-primary">{{ button_label|default('Envoyer') }}</button>
                        {{ form_end(commentForm) }}
                    </div>
                </div> #}
                    <div id="Form" class="mt-5 text-center">
                        <h2 class="display-4 text-primary">Vous voulez plus d'informations ? Contactez Nous!</h2>
                        <div class="card rounded p-3 border border-primary">
                            {{ form_start(commentForm) }}
                            {{ form_widget(commentForm, {'attr': {'style': 'width: 90%'}}) }}
                            <button class="btn btn-primary mt-2">{{ button_label|default('Envoyer') }}</button>
                            {{ form_end(commentForm) }}
                        </div>
                    </div>

            </div>
        </div>
        </div>
    </section>

        {#  <section class="gradient-custom">
            <div class="container my-5 py-5">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-12 col-lg-10 col-xl-8">
                        <div class="card">
                            <div class="card-body p-4">
                                <h4 class="text-center mb-4 pb-2">Nested comments section</h4>

                                <div class="row">
                                    <div class="col">
                                        {% for comment in offer.contacts %}
                                        <div class="d-flex flex-start">
                                            <img class="rounded-circle shadow-1-strong me-3"
                                                 src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(10).webp" alt="avatar" width="65"
                                                 height="65" />
                                            <div class="flex-grow-1 flex-shrink-1">
                                                <div>
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <p class="mb-1">
                                                            {{ comment.email }} <span class="small"> {{ comment.createdAt | date('Y-m-d H:i') }}</span>
                                                        </p>
                                                        <a href="#!"><i class="fas fa-reply fa-xs"></i><span class="small"> reply</span></a>
                                                    </div>
                                                    <p class="small mb-0">
                                                        {{ comment.message }}
                                                    </p>
                                                </div>#}
                                              {#  {% if comment.hasreply is defined %}
                                                <div class="d-flex flex-start mt-4">
                                                    <a class="me-3" href="#">
                                                        <img class="rounded-circle shadow-1-strong"
                                                             src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(11).webp" alt="avatar"
                                                             width="65" height="65" />
                                                    </a>
                                                    <div class="flex-grow-1 flex-shrink-1">
                                                        <div>
                                                            <div class="d-flex justify-content-between align-items-center">
                                                                <p class="mb-1">
                                                                    Simona Disa <span class="small">- 3 hours ago</span>
                                                                </p>
                                                            </div>
                                                            <p class="small mb-0">
                                                                letters, as opposed to using 'Content here, content here',
                                                                making it look like readable English.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>#}
                                                {#  {% endif %} #}



    {#  <div class="contact">
                        <div class="aff-com">

                    </div></section>#}
    {% set userRole = "ROLE_USER" %}
    {% if app.user %}
    {% if userRole in app.user.roles %}

        <div>{{ include('offers/_delete_form.html.twig') }}</div>
        <a href="{{ path('app_offers_edit', {'id': offer.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>


    {% endif %}
    {% endif %}
    <div class="row">
        <div class="col-md-12">
            <a href="javascript:void(0);" onclick="goBack();"><i class="fa-solid fa-arrow-left"></i></a>
        </div>
    </div>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
{% endblock %}
