{% extends 'base.html.twig' %}

{% block title %}Services{% endblock %}

{% block body %}
    <h1 class="text-center m-3">Services</h1>

    <table class="table" aria-label="table contenant les services du garage">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Crée Le</th>
                <th>Modifié le</th>
                <th>Publié ?</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for service in services %}
            <tr class="word-break-auto">
                <td data-label="Nom">{{ service.name }}</td>
                <td data-label="Description">{{ service.description }}</td>
                <td data-label="Crée le">{{ service.createdAt ? service.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td data-label="Modifié le">{{ service.modifiedAt ? service.modifiedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td data-label="Publié ?" >{{ service.published ? 'Oui' : 'Non' }}</td>
                <td>
                    <div class="d-flex justify-content-md-2 align-items-center">
                    <a href="{{ path('app_services_show', {'id': service.id}) }}"><i class="fa-solid fa-eye" aria-hidden="false"></i></a>
                    <a href="{{ path('app_services_edit', {'id': service.id}) }}"><i class="fa-solid fa-pen-to-square" aria-hidden="false"></i></a>
                    <div>{{ include('services/_delete_form.html.twig') }}</div>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Pas de Services</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('app_services_new') }}"><i class="fa-solid fa-plus"></i></a>
    {% endif %}
{% endblock %}
