{% extends 'base.html.twig' %}

{% block title %}Demandes de Contact{% endblock %}

{% block body %}
    <h1 class="text-center m-3">Demandes de Contacts</h1>

    <table class="table">
        <thead>
            <tr>
                {#  <th>Id</th>#}
                <th>Email</th>
                <th>Sujet</th>
                <th>Message</th>
                <th>Réf annonce</th>
                <th>Lien annonce</th>
                <th>Crée le</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr class="word-break-auto">
                {#  <td>{{ contact.id }}</td>#}
                <td>{{ contact.email }}</td>
                <td>{{ contact.subject }}</td>
                <td>{{ contact.message }}</td>
                <td>{{ contact.offer.reference | default('') }}</td>
                <td>{% if contact.offer is not null %}<a href="{{ path('app_offers_show', {id: contact.offer.id }) }}">{{ contact.offer.offertitle }}</a>{% endif %}</td>
                <td>{{ contact.createdAt ? contact.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <div class="d-flex justify-content-md-2 align-items-center">
                    <a href="{{ path('app_contact_show', {'id': contact.id}) }}"><i class="fa-solid fa-eye"></i></a>
                    <a href="{{ path('app_contact_edit', {'id': contact.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
                    <div>{{ include('contact/_delete_form.html.twig') }}</div>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Pas de Demandes de Contact</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {%  if knp_pagination_render(contacts) %}
        <label>Changer de Page : </label>{{ knp_pagination_render(contacts)}}<br>
    {% endif %}
    <a href="{{ path('app_contact_new') }}"><i class="fa-solid fa-plus"></i></a>
{% endblock %}
