{% extends 'base.html.twig' %}

{% block title %}Nouvelle Demande{% endblock %}

{% block body %}
    <h1>Créer une nouvelle Demande de Contact</h1>

    {{ include('contact/_form.html.twig') }}
    {% if is_granted('ROLE_USER') %}
    <a href="{{ path('app_contact_index') }}"><i class="fa-solid fa-arrow-left"></i></a>
    {% else%}
    <a href="{{ path('app_index') }}"><i class="fa-solid fa-arrow-left"></i></a>
    {% endif %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var generalInquiryCheckbox = document.getElementById('{{ form.vars.id }}_isGeneralInquiry');
            var offerField = document.querySelector('.offer-field');

            generalInquiryCheckbox.addEventListener('change', function () {
                offerField.disabled = generalInquiryCheckbox.checked;
            });

            offerField.disabled = generalInquiryCheckbox.checked;
        });
    </script>
{% endblock %}
