{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <h1 class="text-center m-3">Contact</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Réference Annonce Véhicule</th>
                <td>{{ contact.offer.reference | default('') }}</td>
            </tr>
            <tr>
                <th>Titre Annonce Véhicule</th>
                <td>{{ contact.offer.offertitle | default('') }}</td>
            </tr>
            {% if contact.offer is not null %}
            <tr>
                <th>Lien Annonce</th>
                <td><a href="{{ path('app_offers_show', {id: contact.offer.id }) }}">{{ contact.offer.offertitle }}</a></td>
            </tr>
            {%endif %}
            <tr>
                <th>Email</th>
                <td>{{ contact.email }}</td>
            </tr>
            <tr>
                <th>Subject</th>
                <td>{{ contact.subject }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ contact.message }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_contact_index') }}"><i class="fa-solid fa-arrow-left"></i></a>

    <a href="{{ path('app_contact_edit', {'id': contact.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>

    {{ include('contact/_delete_form.html.twig') }}
{% endblock %}
