{% extends 'base.html.twig' %}

{% block title %}Voitures{% endblock %}

{% block body %}
    <h1 class="text-center m-3">Voitures</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Marque</th>
                <th>Modèle</th>
                <th>Année</th>
                <th>Kilomètres</th>
                <th>Prix</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for car in cars %}
            <tr class="word-break-auto">
                <td>{{ car.brand }}</td>
                <td>{{ car.model }}</td>
                <td>{{ car.year }}</td>
                <td>{{ car.kilometers }}</td>
                <td>{{ car.price }}</td>
                <td>{{ car.description }}</td>
                <td>
                    <a href="{{ path('app_cars_show', {'id': car.id}) }}"><i class="fa-solid fa-eye"></i></a>
                    <a href="{{ path('app_cars_edit', {'id': car.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Pas de Voitures</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {%  if knp_pagination_render(cars) %}
        <label>Changer de Page : </label>{{ knp_pagination_render(cars)}}<br>
    {% endif %}
    <a href="{{ path('app_cars_new') }}"><i class="fa-solid fa-plus"></i></a>
{% endblock %}
