{% extends 'base.html.twig' %}

{% block title %}Cars{% endblock %}

{% block body %}
    <h1 class="text-center m-3">Voiture</h1>

    <table class="table" aria-label="Réference et caractéristiques Techniques du Véhicule">
        <tbody>
            <tr>
                <th>Réference</th>
                <td>{{ car.reference }}</td>
            </tr>
            <tr>
                <th>Marque</th>
                <td>{{ car.brand }}</td>
            </tr>
            <tr>
                <th>Modele</th>
                <td>{{ car.model }}</td>
            </tr>
            <tr>
                <th>Année</th>
                <td>{{ car.year }}</td>
            </tr>
            <tr>
                <th>Kilometres</th>
                <td>{{ car.kilometers }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ car.price }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ car.description }}</td>
            </tr>
            <tr>
                <th>Crée le</th>
                <td>{{ car.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Modifié le</th>
                <td>{{ car.modifiedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_cars_index') }}"><i class="fa-solid fa-arrow-left"></i></a>

    <a href="{{ path('app_cars_edit', {'id': car.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>

    {{ include('cars/_delete_form.html.twig') }}
{% endblock %}
