{% extends 'base.html.twig' %}

{% block title %}Comptes Utilisateurs{% endblock %}
{# https://stackoverflow.com/questions/7680917/how-do-i-get-the-entity-that-represents-the-current-user-in-symfony2 #}
{% block body %}

    <h1>{% if app.user.firstname is defined %}{{ app.user.firstname }} {{ app.user.lastname }}{% else %}Je ne sais pas comment vous vous êtes retrouvé ici! {% endif %}</h1>
    {% set AdminRole = "ROLE_ADMIN" %}
    {% if is_granted('ROLE_ADMIN') %}Admin{% else %} Employé {% endif %}
    <table class="table">
        <thead>
        <tr>
            {#  <th>Id</th>#}
            <th>Nom du Client</th>
            <th>Roles</th>
            <th>Mot de passe</th>
            <th>actions</th>
        </tr>
        </thead>

        <tbody>
        {% for user in users %}
            <tr>
                {#  <td>{% if user.id is defined %}{{ user.id }}{% endif %}</td>#}
                <td>{% if user.email is defined %}  {{ user.email }} {% endif %}</td>

                <td>{% if user.roles is defined %}{% if AdminRole in user.roles  %}Compte Admin {% else %} Compte Client {% endif %} {% endif %}{# {{ user.roles ? user.roles|json_encode : '' }} #}</td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td><a href="{% if user.id is defined %}
                {{ path('app_user_edit', {'id': user.id}) }}{% endif %}">Changer de Mot de Passe</a></td>
                {% else %}
                    <td>Option non disponible !</td>
                {% endif %}
                <td>
                    <a href="{% if user.id is defined %}{{ path('app_user_show', {'id': user.id}) }}{% endif %}"><i class="fa-solid fa-eye"></i></a>
                    {% if is_granted('ROLE_ADMIN') %}
                    <a href="{% if user.id is defined %}{{ path('app_user_edit', {'id': user.id}) }}{% endif %}" ><i class="fa-solid fa-pen-to-square"></i></a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Pas d'utilisateurs</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('app_user_new') }}"><i class="fa-solid fa-plus"></i></a>
    {% endif %}
    <section class="mt-3">
    <a href="{{ path('app_index') }}"><i class="fa-solid fa-arrow-left"></i></a>
    </section>
    {#  {% endif %}#}

{% endblock %}
{#
{% block body %}
    <h1>User index</h1>
    <h2>Logged User : {% if app.user.username is defined and app.user.username is not null %}{{ app.user.username }}{% endif %}</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Password</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.roles ? user.roles|json_encode : ''  }}</td>
                <td>{{ user.password }}</td>
                <td>
                    <a href="{{ path('app_user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_user_new') }}">Create new Users</a>

#}


