{% extends 'base.html.twig' %}

{% block title %}Espace Employé{% endblock %}
{# https://stackoverflow.com/questions/7680917/how-do-i-get-the-entity-that-represents-the-current-user-in-symfony2 #}
{% block body %}

    <h1>{% if app.user.firstname is defined %}{{ app.user.firstname }} {{ app.user.lastname }}{% else %}Je ne sais pas comment vous vous êtes retrouvé ici! {% endif %}</h1>
    {% set AdminRole = "ROLE_ADMIN" %}
    {% if is_granted('ROLE_ADMIN') %}Admin{% else %} Employé {% endif %}
    <table class="table">
        <thead>
        <tr>
            {#  <th>Id</th>#}
            <th>Nom du Client</th>
            <th>Roles</th>
            <th>Mot de passe</th>
            <th>actions</th>
        </tr>
        </thead>

        <tbody>
        {% for user in users %}
            <tr class="word-break-auto">
                {#  <td>{% if user.id is defined %}{{ user.id }}{% endif %}</td>#}
                <td>{% if user.email is defined %}  {{ user.email }} {% endif %}</td>

                <td>{% if user.roles is defined %}{% if AdminRole in user.roles  %}Compte Admin {% else %} Compte Employé {% endif %} {% endif %}{# {{ user.roles ? user.roles|json_encode : '' }} #}</td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td><a href="{% if user.id is defined %}
                {{ path('app_user_edit', {'id': user.id}) }}{% endif %}">Changer de Mot de Passe</a></td>
                {% else %}
                    <td>Option non disponible !</td>
                {% endif %}
                <td>
                    <a href="{% if user.id is defined %}{{ path('app_user_show', {'id': user.id}) }}{% endif %}"><i class="fa-solid fa-eye"></i></a>
                    {% if is_granted('ROLE_ADMIN') %}
                    <a href="{% if user.id is defined %}{{ path('app_user_edit', {'id': user.id}) }}{% endif %}" ><i class="fa-solid fa-pen-to-square"></i></a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Pas d'utilisateurs</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {#  {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('app_user_new') }}"><i class="fa-solid fa-plus"></i></a>
    {% endif %}#}
    <section class="mt-3">
    <a href="{{ path('app_index') }}"><i class="fa-solid fa-arrow-left"></i></a>
    </section>
    {#  {% endif %}#}
    <section class="unapproved-comments">
        <div class="container my-5 py-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-12 col-lg-10 col-xl-8">
                    <div class="card">
                        <div class="card-body p-4">
                            <h4 class="text-center mb-4 pb-2">Demandes de Contact non approuvés</h4>
                            <div class="row">
                                <div class="col">
                                    {% for comment in contacts %}
                                        {% if not comment.isApproved %}
                                            <div class="d-flex align-items-start mb-4">
                                                {#  <img class="rounded-circle shadow-1-strong me-3"
                                                     src="{#  {{ comment.avatarUrl }}#}{#  " alt="avatar" width="65" height="65" />#}
                                                <div class="flex-grow-1">
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <p class="mb-1 word-break-auto">
                                                            {{ comment.email }} <span class="small">{{ comment.createdAt | date('Y-m-d H:i') }}</span>
                                                        </p>
                                                        {#   <a href="#!"><i class="fas fa-reply fa-xs"></i><span class="small"> Répondre</span></a>#}
                                                    </div>
                                                    <p class="small mb-0 word-break-auto">
                                                        {{ comment.message }}
                                                    </p>
                                                    {# Bouton d'approbation de demande de contact  #}
                                                    <a class="btn btn-primary btn-sm mt-2" href="{{ path('app_contact_approve', {'id': comment.id}) }}">Approuver</a>

                                                    <form method="post" action="{{ path('app_contact_delete', {'id': comment.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer cette demande?');">
                                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
                                                        <button class="btn btn-danger btn-sm mt-2">Supprimer</button>
                                                    </form>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            <h4 class="text-center mb-4 pb-2">Avis non approuvés</h4>
                            <div class="row">
                                <div class="col">
                                    {% for testimonial in testimonials %}
                                        {% if not testimonial.isApproved %}
                                            <div class="d-flex align-items-start mb-4">
                                                {#  <img class="rounded-circle shadow-1-strong me-3"
                                                     src="  {{ comment.avatarUrl }}" alt="avatar" width="65" height="65" />#}
                                                <div class="flex-grow-1">
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <p class="mb-1 word-break-auto">
                                                            {{ testimonial.name }} {{ testimonial.lastname }} <span class="small">{{ testimonial.createdAt | date('Y-m-d H:i') }}</span>
                                                        </p>
                                                        {#<a href="#!"><i class="fas fa-reply fa-xs"></i>  <span class="small"> Répondre</span></a>#}
                                                    </div>
                                                    <p class="small mb-0 word-break-auto">
                                                        {{ testimonial.message }}
                                                    </p>
                                                    {# Pour Approuver un avis #}
                                                    <a class="btn btn-primary btn-sm mt-2" href="{{ path('app_testimonial_approve', {'id': testimonial.id}) }}">Approuver</a>
                                                    {# Pour Refuser et effacer un avis #}
                                                    <form method="post" action="{{ path('app_testimonial_delete', {'id': testimonial.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer cet Avis?');">
                                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ testimonial.id) }}">
                                                        <button class="btn btn-danger btn-sm mt-2">Supprimer</button>
                                                    </form>

                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    <script>
        document.getElementById('delete-comment-form').addEventListener('submit', function (event) {

            event.preventDefault();

            var url = this.action;

            var xhr = new XMLHttpRequest();
            xhr.open('DELETE', url, true);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.onload = function () {
                if (xhr.status === 200) {

                    alert('Commentaire supprimé avec succès!');


                } else {

                    alert('Erreur lors de la suppression du commentaire.');
                }
            };
            xhr.send();
        });
    </script>
{% endblock %}


