{% extends 'base.html.twig' %}

{% block title %}Images index{% endblock %}

{% block body %}
    <h1>Images index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for image in images %}
            <tr>
                <td>{{ image.id }}</td>
                <td>{{ image.name }}</td>
                <td>
                    <a href="{{ path('app_images_show', {'id': image.id}) }}">voir</a>
                    <a href="{{ path('app_images_edit', {'id': image.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Pas d'images</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_images_new') }}">Créer une nouvelle Image</a>
{% endblock %}
