{% extends 'base.html.twig' %}

{% block title %}Images{% endblock %}

{% block body %}
    <h1>Images</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ image.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ image.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_images_index') }}">Revenir à l'arrière</a>

    <a href="{{ path('app_images_edit', {'id': image.id}) }}">Modifier</a>

    {{ include('images/_delete_form.html.twig') }}
{% endblock %}
